body {
  background-color: rgb(238, 238, 238);
}

.App {
  text-align: center;
}

.App > h1 {
  margin: 0 auto;
  margin-top: 20px;
  width: 227px;
  text-align: start;
  font-family: "Oranienbaum", serif;
}

.hero {
  background-color: #fff;
}
