body {
  background-color: #e5e5e5;
}

.App {
  text-align: center;
}

.App > h1 {
  margin: 0 auto;
  margin-top: 20px;
  width: 227px;
  text-align: start;
  font-family: "Oranienbaum", serif;
}

.hero {
}

.hero__card {
  background-color: #fff;
  width: 289px;
}

.hero__info {
}
